
<div class="sidebar">
    <h1>New Listing</h1><br>

    <form action="/create_listing" method="POST">
        <label>Address</label><br>
        <input type="text" name="address"><br>

        <label>Number Of Bedrooms</label><br>
        <input type="text" name="bedrooms"><br>

        <label>Number Of Bathrooms</label><br>
        <input type="text" name="bathrooms"><br>

        <label>Square Feet</label><br>
        <input type="text" name="square_feet"><br>

        <label>Listing Price</label><br>
        <input type="text" name="price"><br>

        <input type="submit" value="Create Listing">

    </form>

    

</div>