<div class="container">
    <h1>All Listings</h1>

    <div class="sidebar">

        <% @listings.each do |listing| %>
        <%= listing.id %>:
        <%= listing.address %> <br><br>
        <% end %>

            <ul>
                <li><a href="/create_listing">Create New Listing</a></li><br>
                <li><a href="/agent/show">Home Page</a></li><br>
                <li><a href="/logout">Logout</a></li>
            </ul>
    
    </div>
</div>