<div class="sidebar">
<h1>All Listings</h1>

<% @listings.each do |listing| %>
<%= listing.id %>:
<%= listing.address %> <br>
<% end %> <br>
<a href="/create_listing">Create New Listing</a>
<a href="/agent/show">Home Page</a>
<a href="/logout">Logout</a>
</div>