

<div class="sidebar">
    <h1>Signup</h1><br>

    <form action="/signup" method="POST">
        <label>Email</label><br>
        <input type="text" name="email"><br>

        <label>Username</label><br>
        <input type="text" name="user_name"><br>

        <label>Password</label><br>
        <input type="password" name="password"><br>

        <input type="submit" value="Signup">
    </form>
</div>
