

<div class="sidebar">
    <h1>Signup</h1><br>

    <form action="/signup" method="POST">
        <label>Email</label><br>
        <input type="email" name="email"><br>       <!--type=email requires the field to have a valid email format-->

        <label>Username</label><br>
        <input type="text" name="user_name"><br>

        <label>Password</label><br>
        <input type="password" name="password"><br>     <!--type=password provides password security-->

        <input type="submit" value="Signup">
    </form>
</div>
