
<div class="sidebar">
    <h1>Login</h1><br>
    <form action="/login" method="POST">
        <label>Username</label><br>
        <input type="text" name="user_name"><br>

        <label>Password</label><br>
        <input type="password" name="password"><br>

        <input type="submit" value="Login" id="submit">
    </form>
</div>

<div class="container">
    <h3>Not A User?</h3>
    <li><a href="/signup">Create New User</a></li>
</div>