<div class="container">

  <h1>This is an agents home page</h1><br>

  <div class="sidebar">
  
    <ul>
    <% @agents.each do |agent| %>
    <%= agent.id %>:
    <%= agent.user_name %> <br>
    <% end %> <br>

    <% @listings.each do |listing| %>
    <%= listing.id %>:
    <%= listing.address %> <br>
    <% end %> <br>
  
    <li>Potential Buyers</li>
    </ul>

  </div><br>

  <ul>
    <li><a href="/create_listing">Create New Listing</a></li><br>
    <li><a href="/listings">See All Listings</a></li><br>
    <a href="/logout">Logout</a>
  </ul>
  
</div>